.demo-layout-transparent {
    background: orange center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.headerScroll {
    height: 100px;
}

.header-content {
    height: 80px;
}