.demo-layout-transparent {
    background: orange center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.headerScroll {
    height: 100px;
}

.header-content {
    height: 80px;
}

.user-card {
    width: auto;
    height: auto;
}

.user-card > .user-card_title {
    color: #fff;
    background: url("../images/dog.png") bottom right 15% no-repeat #46B6AC;
    height: 133px;
}